
<div class="row">
  <div class="columns small-12 medium-6 large-4 events" *ngFor="let event of events">
    <div class="event-container">
      <div class="row">
        <div class="columns small-12 large-10">
          <a routerLink="/details/{{ event._id }}" class="event-title">{{ event.title }}</a>
        </div>
        <div class="columns small-12 large-2 show-for-large">
          <a href="https://www.meetup.com/topics/ruby/" target="_blank" class="external">
            <svg width="97px" height="97px" viewBox="0 0 97 97" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 45.1 (43504) - http://www.bohemiancoding.com/sketch -->
                <title>Slice 1</title>
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="external" fill-rule="nonzero">
                        <circle id="Oval" fill="#F8E71C" cx="48.4" cy="48.4" r="48.4"></circle>
                        <polygon id="Shape" fill="#2A3136" points="60.4 25.6 44.2 25.6 33.1 36.2 51.4 36.2 21.7 70.8 36 70.8 60.4 42.3 60.4 63.3 71 50.9 71 36.2 71 25.6"></polygon>
                    </g>
                </g>
            </svg>
          </a>
        </div>
      </div>
      <p>{{ event.description | length: 130 }}</p>
      <a routerLink="/details/{{ event._id }}" class="cta-btn btn2">More Info</a>
    </div>
  </div>
</div>
